<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="sign">
      <div class="container">
        <h1><a href="/list">BLOG</a></h1>
        <div class="panel">
          <h2>Sign up</h2>
          <% if (errors.length > 0) { %>
            <ul class="errors">
              <% errors.forEach(error => { %>
                <li><%= error %></li>
              <% }); %>
            </ul>
          <% } %>
          <form action="/signup" method="post">
            <p>Username</p>
            <input type="text" name="username">
            <p>Email</p>
            <input type="text" name="email">
            <p>Password</p>
            <input type="password" name="password">
            <input type="submit" value="Sign up">
            <a href="/list">Back to articles</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>